<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch999.haha.admin.mapper.AdoptionFeedBackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ch999.haha.admin.entity.AdoptionFeedBack">
        <id column="id" property="id" />
        <result column="adoptionid" property="adoptionid" />
        <result column="newsid" property="newsid" />
        <result column="lasttimezan" property="lasttimezan" />
        <result column="isdel" property="isdel" />
    </resultMap>

</mapper>
