<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch999.haha.admin.mapper.AdoptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ch999.haha.admin.entity.Adoption">
        <id column="id" property="id" />
        <result column="adoptionid" property="adoptionid" />
        <result column="newstitle" property="newstitle" />
        <result column="isadoption" property="isadoption" />
        <result column="userid" property="userid" />
        <result column="isdel" property="isdel" />
    </resultMap>

    <select id="selectHadSendNews" resultType="com.ch999.haha.admin.vo.mappervo.AdoptionSuccessNewsVO">
        SELECT
	a.adoptionid AS pid,
	a.newstitle AS title,
	n.id AS newId,
	n.title AS newTitle,
  n.createtime as createTime,
	DATE_ADD(
		a.adoptiontime,
		INTERVAL 7 DAY
	) AS time1,
	DATE_ADD(
		a.adoptiontime,
		INTERVAL 14 DAY
	) AS time2,
	DATE_ADD(
		a.adoptiontime,
		INTERVAL 21 DAY
	) AS time3,
	DATE_ADD(
		a.adoptiontime,
		INTERVAL 31 DAY
	) AS time4
FROM
	(
		SELECT
			ad.adoptionid,
			ad.newstitle,
			ad.adoptiontime
		FROM
			adoption ad
		WHERE
			ad.userid = #{userId}
	) a
LEFT JOIN news n ON n.parentid = a.adoptionid
where n.id !='' AND n.isdel = 0 ORDER BY createtime

    </select>

	<select id="checkUserIsSendNews" resultType="com.ch999.haha.admin.vo.mappervo.AdoptionSuccessNewsVO">
		SELECT
	a.adoptionid AS pid,
	a.newstitle AS title,
	DATE_ADD(
		a.adoptiontime,
		INTERVAL 7 DAY
	) AS time1,
	DATE_ADD(
		a.adoptiontime,
		INTERVAL 14 DAY
	) AS time2,
	DATE_ADD(
		a.adoptiontime,
		INTERVAL 21 DAY
	) AS time3,
	DATE_ADD(
		a.adoptiontime,
		INTERVAL 31 DAY
	) AS time4
FROM
	(
		SELECT
			ad.adoptionid,
			ad.newstitle,
			ad.adoptiontime
		FROM
			adoption ad
		WHERE
			ad.id = #{id}
	) a
	</select>

</mapper>
